:root{
  --main-background-color:#FFFFFF; 
  --alternative-background-color: #2E2F42; 
  --secondary-background-color:#F4F4FD;
  --web-color:#4D5AE5;
  --studio-color:#2E2F42; 
  --footer-descr-color:#F4F4FD;
  --link-focus-color:#404bbf;
  --main-title-color:#2E2F42; 
  --secondary-title-color:#434455 ;
  --alternative-title-color:#FFFFFF;
  --main-button-color:#4D5AE5;
  --secondary-button-color:#F4F4FD;
  --border-color:#E7E9FC;
  --icon-background-color:#4D5AE5;
  --borders-icon-color:#8E8F99;
  --secondary-icon-color:#AFB1B8; 
  --second-white:#FCFCFC;
}


.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
} 

section {
  justify-content: center;
}

button{
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-background-color);
  color: var(--secondary-title-color); 
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.link {
  text-decoration: none;
  color:var(--main-title-color);
}
.list{
  display: flex;
  font-style: normal;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header{
  border-bottom: 1px solid #E7E9FC;
  height: 72px;
  }
.header-container {
  display: flex;
  justify-content: space-between;
}
  .nav-list{
    
  }

.header-list {
  gap: 40px;
  margin-left: 76px;
}

.header-list-item {
  padding: 24px 0;
  height: 24px;
}

.header-logo-studio {
  color: var(--studio-color);
  }
  
.header-logo {
  padding: 24px 0px;
  text-decoration: none ;
  font-family: 'Raleway', sans-serif;
  font-weight: 800 ;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-color);
}

.header-link {
  padding-bottom: 26.5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.header-link:is(:hover, :focus) {
  color: var(--link-focus-color);
}

.header-link:is(:hover, :active) {
  color: var(--link-focus-color) ;
}

.header-link::after {
  content: '';
  width: 0;
  height: 4px;
  border-color: var(--link-focus-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background: var(--link-focus-color);
  transition: width 0.5s, left 0.5s;
}
.header-link:hover:after {
	width: 100%;
}


.current{
  color: var(--link-focus-color) ;
}

.current::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  color: var(--link-focus-color);

}

.address-main {

}

.address-list {
  gap: 40px;
  padding: 24px 0px;
}

.adress-item-link{
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--secondary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-item-link:is(:hover, :focus) {
  color: var(--link-focus-color);
}

.adress-item-link:is(:hover, :active) {
  color: var(--link-focus-color);
}

.solutions {
  padding-top: 188px;
  padding-bottom:188px;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;
}

.solutions-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--alternative-title-color);
  margin-bottom: 48px;
}

.solutions-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--alternative-title-color);
  background: var(--main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  transition: color 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.solutions-button:is(:hover, :focus) {
  color: var(--main-button-color);
  background: var(--secondary-button-color);
}
/*-----------------------------SOLUTIONS ROW------------------------------*/
.solutions-row{
  padding-top: 120px;
  padding-bottom: 120px;
}

.solutions-row-list{
  justify-content: center;
}

.solutions-row-item:not(:first-child) {
  margin-left: 24px;
}

.solutions-row-icon-item {
  background-color:var(--secondary-background-color); 
  width: 264px;
  height: 112px;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  display: flex;
}

.solutions-row-icon {
  width: 64px;
  height: 64px;
  fill: black;
}

.solutions-row-name {
  font-size: 20px;
  font-weight: 500;
  color: var(--main-title-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
  margin-top: 8px;
}

.solutions-row-descr { 
  margin-top: 4px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}
/*-----------------------------DOING---------------------------------*/
.doing {
  padding-bottom: 120px;
 
}

.doing-list {
  
}

.doing-list-item:not(:first-child) {
  margin-left: 24px;
}

.doing-title {
  text-align: center;
  color:var(--main-title-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-bottom: 72px;
}
/*-----------------------------TEAM---------------------------------*/
.team {
  background:var(--secondary-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  text-align: center;
  color: var(--main-title-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list{
  gap:24px;
}

.team-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
  padding-bottom: 32px;
}

.team-soc-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 12px;
border-radius: 50%;
fill: var(--secondary-button-color);
background-color: var(--icon-background-color); 
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--secondary-button-color);
  fill: var(--icon-background-color);
}

.team-soc-icon {
  width:16px;
  height:16px;
}

.team-name {
  text-align: center;
  color: var(--main-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.team-descr {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* ---------------------------------------CUSTOMERS--------------------------------- */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container-customers {

}

.customers-title {
  text-align: center;
  color: var(--main-title-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list {
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid var(--borders-icon-color);
  border-radius: 4px;
  fill: var(--secondary-icon-color);
  color: var(--secondary-icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  fill: var(--link-focus-color);
  border-color: var(--link-focus-color);

}
/* ---------------------------------FOOTER----------------------- */

.footer {
  background:var(--alternative-background-color);
  padding-top: 101px;
  padding-bottom: 100px;
  grid-row-gap: 16px;
}

.container-footer{
  display: flex;
}

.footer-logo-studio{
  color: var(--secondary-button-color);
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-color);
}

.footer-descr {
  margin-top: 18px;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-descr-color);
}

.footer-icon {
  margin-left: 120px;
}

.footer-name {
  color: var(--alternative-title-color);
  margin-bottom: 16px;
}

.footer-list-icon {
  gap: 16px;
  display: flex;
  justify-content: center;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-icon {
  width: 24px;
  height: 24px;
}
.footer-soc-link {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 50%;
  fill: var(--secondary-button-color);
  background-color: var(--icon-background-color); 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:is(:hover, :focus) {
  background: var(--secondary-button-color);
  fill: var(--icon-background-color);
}


.footer-form-subsc {
  margin-left: 80px;
}
.footer-subscribe{
  display: flex;
}

.footer-input {
  padding: 8px 16px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  color: var(--alternative-title-color);
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.5;
}

.footer-input::placeholder{
  color: var(--alternative-title-color);
}

.footer-subsc-button{
  background-color: var(--main-button-color);
  border-radius: 4px;
  border: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  height: 40px;
  color: var(--alternative-title-color);
  margin-left:24px;
  transition: color 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-icon {
  width: 24px;
  height: 24px;
  fill: var(--alternative-title-color);
  transition: color 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-subsc-button:is(:hover, :focus) .footer-btn-icon{
  fill: var(--main-button-color);
}

.footer-subsc-button:is(:hover, :focus) {
  color: var(--main-button-color);
  background: var(--secondary-button-color);
  fill: var(--main-button-color);
}

/* -------------------------PORTFOLIO---------------------------- */

.prtf{
  padding-top: 96px;
  padding-bottom: 120px;
}

.button-list {
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.button-portfolio {
  background:var(--secondary-background-color);
  color: var(--main-button-color);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list-item {
  
}

.button-portfolio:is(:hover, :focus) {
  color:var(--alternative-title-color);
  background-color: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prtf-row-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-right: auto;
  margin-left: auto;
}

/* .prtf-row-list:nth-child(2n+2) {
  flex-wrap: wrap;
}    */

 /* .prtf-row-list {
  display: grid;
  grid-template-columns: auto auto auto;
   justify-content: center; 
}    */


.prtf-row-item {
  max-width: calc((100% - 48px)/3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.prtf-row-item:hover .overlay {
  transform: translate(0, 0);
}
 
.prtf-row-link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.prtf-row-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transform: translate(0, 0);
  }

.prtf-row-link:focus .overlay {
    transform: translate(0, 0);

}

.prtf-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay{
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--icon-background-color);
  color: var(--alternative-title-color);
  width:100%;
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
  }

.navigation-row-list {
  text-decoration: none;
}

.prtf-container {
border-left: 1px solid var(--border-color);
border-right: 1px solid var(--border-color);
border-bottom: 1px solid var(--border-color);
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
}

.prtf-name{
width: auto;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.prtf-descr{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
}


/* -------------------------------MODAL---------------------------- */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform:translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px;
  background:var(--second-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button{
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background-color: var(--border-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);

}

.modal-close-button:is(:hover, :focus){
  background-color: var(--link-focus-color);

}

.modal-close-button-icon{
  fill: var(--main-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:is(:hover, :focus) .modal-close-button-icon {
  fill:var(--alternative-title-color);
}

.modal-item:not(:first-child){
  margin-top: 8px;
}

.modal-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}


.modal-name{
  margin-bottom: 4px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--borders-icon-color);
}

.input-wrap {
  position: relative;
}

.modal-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background: var(--second-white);
}

.modal-input::placeholder{
  border-color: var(--main-button-color);

}

.modal-input:is(:hover,:focus) {
  border-color: var(--main-button-color);
  color: var(--main-button-color);
}

.modal-input:is(:hover,:focus) + .modal-icon {
  fill: var(--main-button-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform:translateY(-50%);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox:checked + .modal-check-text::before{
  background-color: var(--link-focus-color);
  fill: var(--secondary-background-color);
  border: none;
  background-image: url(../images/vector.svg);
  background-repeat:no-repeat ;
  background-position: center;
}


.modal-checkbox::placeholder{
  border-color: var(--main-button-color);

}

.modal-checkbox:is(:hover,:focus) {
  border-color: var(--main-button-color);
  color: var(--main-button-color);
}


.modal-textarea::placeholder{
  border-color: var(--main-button-color);

}

.modal-textarea:is(:hover,:focus) {
  border-color: var(--main-button-color);
  color: var(--main-button-color);
}

.checkbox {
  margin-top: 16px;
  margin-bottom: 24px;
}

.modal-check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--borders-icon-color);
  display: flex;
  gap: 8px;
}

.modal-check-text::before{
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: block;
}

.privacy-link{
  color: var(--link-focus-color);
}

.modal-btn-send{
  padding: 16px 32px;
  width: 105px;
  background-color: var(--main-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--alternative-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:is(:hover, :focus) {
  color: var(--main-button-color);
  background-color: var(--secondary-button-color);
}
.modal-button{
  text-align: center;
}